html,body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  width: 100%;
  height: 100%;
  /*background-color: #000000;*/
}

#con {
  text-align : center;
}

#outer {
  display: table;
  width: 100%;
  height: 100%;
}

#inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#wrap {
  width: 100%;
  height: 100%;
  margin: auto;
}
#header {
  height: 125px;
  width: 100%;
  color: white;
  text-align: center;
}
#title {
  height: 125px;
  width: 75%;
  float: left;
}
#login {
  height:125px;
  width: 25%;
  float: left;
  background-color: #d7d7d7;
}
#map {
  height: 500px;
  width: 100%;
  background-color: #ffffff;
  text-align: center;
}

#upload {
  height: 250px;
  width: 20%;
  float: left;
  background-color: #ffffff;
}

#photo {
  height: 250px;
  width: 20%;
  float: left;
  background-color: #ffffff;
}

#compare {
  clear: both;
}

#footer {
  height: 60px;
  color: white;
  text-align: center;
}
