html,body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: #000000;
}

#outer {
  display: table;
  width: 100%;
  height: 100%;
}

#inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#wrap {
  width: 100%;
  height: 100%;
  margin: auto;
}

#header {
  height: 125px;
  color: white;
  text-align: center;
}

#map {
  height: 500px;
  width: 100%;
  background-color: #d7d7d7;
}

#information {
  height: 250px;
  width: 50%;
  float: left;
  background-color: #ffffff;
}

#player {
  height: 250px;
  width: 50%;
  float: left;
  background-color: #ffffff;
}

#compare {
  clear: both;
}

#footer {
  height: 60px;
  color: white;
  text-align: center;
}
